<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">

  <title>Gemiweb</title>

  <meta name="description" content="A Gemini-Web Proxy.">
  <meta name="author" content="Alex">

  <link rel="stylesheet" href="assets/styles.css">

  <link href="https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
</head>

<body>
    {% for node in nodes %}
        {% if node.type == "TEXT" %}
            {{ node.text }} </br>
        {% elif node.type == "LINK" %}
            <a href="{{ node.url }}">{{ node.fancyname }}</a> </br>
        {% elif node.type == "HEADER" %}
            <h{{ node.level }}>{{ node.parsedText }}</h{{ node.level }}>
        {% elif node.type == "DIVIDER" and node.subtype == "BULLET_START" %}
            <ul>
        {% elif node.type == "DIVIDER" and node.subtype == "BULLET_END" %}
            </ul>
        {% elif node.type == "BULLET" %}
            <li>{{ node.text }}</li>
        {% elif node.type == "DIVIDER" and node.subtype == "PRE_START" %}
            <code>
        {% elif node.type == "DIVIDER" and node.subtype == "PRE_END" %}
            </code>
        {% endif %}
    {% endfor %}
</body>
</html>